
@{
    ViewData["Title"] = "About";
}
<h1>About Project</h1>
<p>This is a school project for AzulSchool</p>
<p>It is a project of a sales manager</p>

<h1>About Dev</h1>
<p>My name is Alejandro Gonzalez (You can find me in GitHub as <a target="_blank" href="https://github.com/atrect-5">atrect-5</a>)</p>
<p>You can find others projects on my <a target="_blank" href="https://portfolio-alejandro-gonzalez.vercel.app/">portfolio</a></p>
